#
# VSCode
#
.cache/
.vscode/
[Bb]uild*/

#
# C: from 
#
.tmp_versions/
*.a
*.app
*.cmd
*.d
*.dll
*.dSYM/
*.dylib
*.elf
*.exe
*.exp
*.gch
*.hex
*.i*86
*.idb
*.ilk
*.ko
*.la
*.lib
*.lo
*.map
*.mod*
*.o
*.obj
*.out
*.pch
*.pdb
*.so
*.so.*
*.su
*.x86_64
dkms.conf
Mkfile.old
Module.symvers
modules.order

# 
# Meson: from https://github.com/mesonbuild/meson/blob/master/.gitignore
# 
__pycache__
.DS_Store
.mypy_cache/
.pytest_cache/
*.pyc
*.swp
*~
/.coverage/
/.coveragerc
/.cproject
/.idea
/.project
/.pydevproject
/.settings
/.vscode
/*venv*
/build
/dist
/docs/built_docs
/docs/hotdoc-private*
/install dir
/MANIFEST
/meson-cross-test-run.txt
/meson-cross-test-run.xml
/meson-test-run.txt
/meson-test-run.xml
/meson.egg-info
/work area
/subprojects/*
!/subprojects/*.wrap